/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

html{
     font-size: 62.5%; /* 1rem = 10px; */
}

/* Variables */
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;  
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #c87e4f;
--primary-color-hover: #c2703d;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #2c2c2c;
--section-bg: #2c3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}
/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, button, input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);

}
body{
  overflow-x: hidden;
  font-family: 'Hind', sans-serif;
  /* background-color: var(--white-color); */
}
ul{
  list-style: none;  
}
a{
  text-decoration: none;
}
img{
  width: 160px;
  object-fit: cover;
}
/* Reusuable CSS */
.section{
  padding: 7rem 2rem;

}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button{
  border: none;
  outline: none;  
  color: var(--white-color);  
  padding: 1rem 5rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
}
/* Header */
.header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: var(--z-fixed);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

/* nav */
.nav{
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
/* .logo-icon,
.logo-text,
.nav-link,
.phone-icon{
  color: var(--white-color);
} */
.nav-link{
  color: #000;
  font-size: 17px;
}
h3{
  color: white;
}
.logo-icon,
.phone-icon{
  font-size: 2rem;
}
.menu-list{
  column-gap: 2rem;
}
.nav-link{
  position: relative;
  text-transform: capitalize;
}
.nav-link::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}
.active-navlink::before{
  opacity: 1;
}
.navClose-btn,
.navOpen-btn,
.media-icons{
  display: none;
}

/* nav responsive */
@media screen and (max-width: 768px){
  .contact-content{
    display: none;
  }
  .navClose-btn,
  .navOpen-btn,
  .media-icons{
  display: block;
}
  .nav .menu-content{
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 7rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }
  .nav .menu-content.open{
    right: 0;
  }
  .menu-list{
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }
  .nav-link{
    color: var(--text-color);
  }
  .nav-link::before{
    background-color: var(--text-color);
  }
  .navClose-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navOpen-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white-color);
  }
  .media-icons{
    column-gap: 1rem;
  }
  .media-icons a{
    color: var(--text-color-light);

  }
  
}
/*================= Home ====================*/
.home{
  width: 100%;
  height: auto;
  margin-top: 80px;
  /* background: red; */
}
.swiper-slide{
  position: relative;
  width: 100%;
  height: 95vh;
  
}
.swiper-slide::before{
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: var(--z-overlay);

}
.home-img{
  width: 100%;
  height: 100%;
}
/* swiper button */
.swiper-navBtn{
  height: 5rem;
  width: 5rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  /* opacity: 0;
  visibility: visible; */
}
.home:hover .swiper-navBtn{
  opacity: 1;
}
.swiper-navBtn:hover{
  background-color: rgba(16, 255, 255, 0.377);

}
.swiper-navBtn::after,
.swiper-navBtn::before{
  font-size: 2rem;
}
.swiper-button-next{
  right: 5rem;
}
.swiper-button-prev{
  left: 5rem;
}

.swiper-pagination-bullet{  
  background-color: var(--white-color);
  opacity: 1;
  height: 1rem;
  width: 1rem;
  /* border-radius: 10%; */
  margin-bottom: 2rem;
  /* visibility: hidden; */
}
.swiper-pagination-bullet-active{
  background-color: var(--primary-color);
}
.home-details{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%,-50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
  
}
.homeSubtitle{
  text-align: center;
  font-size: var(--normal-font);
  color: white;
}
.homeTitle{
  text-align: center;
  font-size: var(--big-font);
  color: white;
  font-weight: var(--font-semi-bold);
}
/* ==================================================================== */

/* About */


/* Menu */


/* Brand */


/* Review */


/* swiper btn */


/* Newsletter */


/* Footer */


/* Scroll Up */


/* Responsive media */
@media screen and (max-width: 760px) {

  .swiper-navBtn{
    visibility: hidden;
  }

  .swiper-pagination-bullet{
    visibility: visible;
  }
  
}